MNT4753-input
MNT4753-parameters
MNT6753-input
MNT6753-parameters
build
main
generate_parameters
cuda_prover_piecewise
MNT4753-output 
MNT6753-output 
MNT4753-output_cuda
MNT6753-output_cuda
MNT4753_preprocessed
MNT6753_preprocessed
.vscode